.footer{
  height: 466px;
  display: flex;
//   background-color: #00394f;
background-color: #1f1f1f;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0;
  width: 100%;

  &__box{
      width: 1400px;
      display: flex;
      padding-bottom: 50px;
      justify-content: space-between;
      align-items: start;
      border-bottom: 1px solid rgba(23, 162, 184, 0.2) ;
      &__information{
          width: 300px;
          display: flex;
          flex-direction: column;
          justify-content: space-between; 
      }
      &__info{
          width: 300px;
          display: flex;
          flex-direction: column;
          justify-content: space-between; 
      }
      &__logo{
          text-decoration: none;
          display: flex;
          align-items: center;
          &__img{
            max-width: 150px;
          }
        
      }
      &__desc{
          margin: 0;
          margin-top: 20px;
          color: white;
          width: 300px;
          line-height: 1.5;
          font-family: "Nunito", sans-serif;

          &__txt{
            color: white;
            font-weight: 700;
            font-size: 25px;
            font-family: 'Nunito', sans-serif;
            margin: 0;
        }
      }
      &__socials{
          display: flex;
          list-style: none;
          margin: 0;
          padding: 0;
          margin-top: 25px;
      }
      &__social{

          &+&{
              margin-left: 10px;
          }
          &__link{
              display: flex;
              border-radius: 50%;
              border: 0.10px solid #17a2b8;
              width: 38px;
              height: 38px;
              align-items: center;
              justify-content: center;
              font-family: "Nunito", sans-serif;

              img{
                  width: 16px;
                  height: 16px;

                }
                &:hover{
                  transform: scale(1.2);
                }
          }
      }

      h3{
        //   color: rgb(7, 152, 188);
        color: white;
          font-weight: 700;
          font-size: 28px;
          font-family: "Handlee", cursive;
          margin: 0;
      }

      &__list{
          display: flex;
          flex-direction: column;
          list-style: none;
         padding: 0;
         margin: 0;
         margin-top: 18px;
         line-height: 2;
          &__link{
              height: 65px;
              position: relative;
              font-family: "Handlee", cursive;
              font-weight: bold;
            //   line-height: 1.5;
              color: white;
              display: flex;
              align-items: center;
            //   flex-direction: column;
              font-size: 20px;
            //   justify-content: space-around;
              padding-left: 40px;
              &:nth-child(1):before{
                  content:"";
                  background-image: url(./images/location.png);
                  width: 26px;
                  height: 26px;
                  background-position: center;
                  background-size: 100% 100%;
                  position: absolute;
                  left: 0;
                  top: 7px;
              }
              &:nth-child(2):before{
                  content:"";
                  background-image: url(./images/email.png);
                  width: 26px;
                  height: 26px;
                  background-position: center;
                  background-size: 100% 100%;
                  position: absolute;
                  left: 0;
                //   top: 7px;
              }
              &:nth-child(3):before{
                  content:"";
                  background-image: url(./images/call.png);
                  width: 26px;
                  height: 26px;
                  background-position: center;
                  background-size: 100% 100%;
                  position: absolute;
                  left: 0;
                //   top: 7px;
              }
              &>address {
                  font-family: "Nunito", sans-serif;
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 1.5;   
                  z-index: 999;                 
              }
              &>a{
                  font-family: "Nunito", sans-serif;
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 1.5;  
                  text-decoration: none;
                  color:white;
              }
              
          }
          &__item{
              position: relative;
              text-decoration: none;
              font-family: "Nunito", sans-serif;
              font-size: 16px;
              word-spacing: 5px;
              color: white;
              font-weight: 500;
              line-height: 1.5; 
              padding-left: 20px;
              &::before{
                  content:"";
                  background-image: url(./images/arrow-angle-pointing-to-right.png);
                  width: 10px;
                  height: 10px;
                  background-position: center;
                  background-size: 100% 100%;
                  position: absolute;
                  left: 0;
                  top: 5px;                    
              }
              &:hover{
                  text-decoration: underline;
              }
              &>img{
                  width: 10px;
                  height: 10px;
              }
          }
      }
      &__forms{
          width: 300px;
          &__form{
              margin-top: 22px;
              background: none;
              outline: none;
              display: flex;
              flex-direction: column;
              &__input{
                  padding: 16px 12px; 
                  border-radius: 5px;
                  font-size: 16px;
                  color: #495057;
                  resize: vertical;
                  &::placeholder{
                      font-size: 16px;
                      color: #495057;
                  }
                &:focus{
                    color: #495057;
                    background-color: #fff;
                    border-color: #63d9ec;
                    outline: 0;
                    box-shadow: 0 0 0 0.2rem rgba(211, 249, 255, 0.25);                        
                }
                  &+&{
                      margin-top: 20px;
                  }
              }
              &__btn{
                  color: white;
                  background-color: rgb(7, 152, 188);
                  border-radius: 30px;
                  margin-top: 20px;
                  width: 300px;
                  padding: 16px 12px;
                  font-size: 16px;
                  cursor: pointer;
                  &:hover{
                      background-color: #158697;
                  }
              }
          }
      }
  }

  &__bottom{
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      &__txt{
          font-family: "Nunito", sans-serif;
          font-size: 16px;
          margin: 0;
          color: white;
          font-weight: 400;
          line-height: 1.5;
          &__link{
              color: #17a2b8;
              text-decoration: none;
              font-weight: 600;
              &:hover{
                  cursor: pointer;
                  color: #158697;
                  text-decoration: underline;
              }
          }
      }
  }
}

// @media (max-width: 1200px) {
//     .footer__box {
//       width: 90%;
//     }
//   }
  
//   @media (max-width: 992px) {
//     .footer__box {
//       flex-direction: column;
//       align-items: center;
  
//       &__information,
//       &__info,
//       &__forms {
//         width: 100%;
//         align-items: center;
//         text-align: center;
//       }
  
//       &__socials {
//         justify-content: center;
//       }
  
//       &__desc,
//       h3,
//       &__list,
//       &__forms__form__input,
//       &__forms__form__btn {
//         width: 100%;
//         max-width: 300px;
//       }
  
//       &__forms__form__input,
//       &__forms__form__btn {
//         max-width: 100%;
//       }
  
//       &__list {
//         align-items: center;
  
//         &__link,
//         &__item {
//           padding-left: 0;
//           text-align: center;
//         }
//       }
//     }
//   }
  
//   @media (max-width: 768px) {
//     .footer__box {
//       width: 100%;
//       padding: 0 20px;
//     }
  
//     .footer__bottom {
//       text-align: center;
//     }
//   }
  
//   @media (max-width: 576px) {
//     .footer__box {
//       padding: 0 10px;
  
//       &__information,
//       &__info,
//       &__forms {
//         align-items: center;
//         text-align: center;
//         width: 100%;
//       }
  
//       &__desc,
//       &__forms__form__input,
//       &__forms__form__btn {
//         width: 100%;
//         max-width: none;
//       }
//     }
  
//     .footer__bottom {
//       flex-direction: column;
//       align-items: center;
  
//       &__txt {
//         text-align: center;
//       }
//     }
//   }